<ion-header>
  <ion-toolbar>
    <ion-title>reg</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-input [(ngModel)]="data.name" placeholder="Enter Name" inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="data.surname" placeholder="Enter Surname" inputmode="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="data.cell" placeholder="Enter Cell" inputmode="tel"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="data.email" placeholder="Enter Email" inputmode="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="data.password" placeholder="Enter Password" inputmode="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()" >Register user</ion-button>
  </ion-item>
  
</ion-content>
