<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>


<ion-grid>

<ion-row>
  <ion-col size="12">
    <p>welcome to phanda app</p>
    <p>please choose what you want to do from the options below</p>
  </ion-col>
</ion-row>

  <ion-row>

    <ion-col>
      <ion-card>
        <ion-card-content>
            <img src="../../assets/road.jpg">
            <ion-card-subtitle>Eat in</ion-card-subtitle>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col>
        <ion-card routerLink="/trip">
          <ion-card-content>
              <img src="../../assets/road.jpg">
              <ion-card-subtitle>Order</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>

  </ion-row>
</ion-grid>

</ion-content>

<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->