<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>


<ion-grid>

<ion-row>
  <ion-col size="12">
    <ion-card>
      <ion-card-title>Welcome to Phanda</ion-card-title>
      <ion-card-subtitle>Please choose what you want to do from the options below</ion-card-subtitle>
    </ion-card>
  </ion-col>
</ion-row>

<ion-button routerLink="/trip" expand="block">Order</ion-button>
<ion-button expand="block">Eat-in</ion-button>


  
</ion-grid>

</ion-content>

<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->